*.exe
*.anf
.cmdenv-log
.qtenvrc
out/
results/
# .vscode/
.settings/
*.def
*.dll
*.dll.a
*.dylib
*.so
.DS_Store
*.pyc

tests/work/**
*_m.h
*_m.cc
/restats
/*.py
/*.png
/*.csv
src/Makefile
py11/
.pydevproject
**.out.*
**.dot
*.log
results